USE [Offer]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 13.08.2022 12:53:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 13.08.2022 12:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Admin_ID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](10) NULL,
	[password] [varchar](10) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 13.08.2022 12:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[City_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[status] [bit] NOT NULL,
	[Countries_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[City_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 13.08.2022 12:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Countries_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[Countries_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currencies]    Script Date: 13.08.2022 12:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies](
	[Currency_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Currencies] PRIMARY KEY CLUSTERED 
(
	[Currency_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incoterms]    Script Date: 13.08.2022 12:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incoterms](
	[Incoterm_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Incoterms] PRIMARY KEY CLUSTERED 
(
	[Incoterm_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modes]    Script Date: 13.08.2022 12:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modes](
	[Mode_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](10) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Modes] PRIMARY KEY CLUSTERED 
(
	[Mode_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovementTypes]    Script Date: 13.08.2022 12:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovementTypes](
	[MovementType_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](70) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.MovementTypes] PRIMARY KEY CLUSTERED 
(
	[MovementType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offers]    Script Date: 13.08.2022 12:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offers](
	[Offer_ID] [int] IDENTITY(1,1) NOT NULL,
	[City_ID] [int] NULL,
	[Countries_ID] [int] NULL,
	[Currency_ID] [int] NULL,
	[Incoterm_ID] [int] NULL,
	[Mode_ID] [int] NULL,
	[MovementType_ID] [int] NULL,
	[PackageType_ID] [int] NULL,
	[Unit1_ID] [int] NULL,
	[Unit2_ID] [int] NULL,
	[User_ID] [int] NULL,
	[offerDate] [datetime] NOT NULL,
	[status] [bit] NOT NULL,
	[delete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Offers] PRIMARY KEY CLUSTERED 
(
	[Offer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageTypes]    Script Date: 13.08.2022 12:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageTypes](
	[PackageType_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.PackageTypes] PRIMARY KEY CLUSTERED 
(
	[PackageType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit1]    Script Date: 13.08.2022 12:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit1](
	[Unit1_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](5) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Unit1] PRIMARY KEY CLUSTERED 
(
	[Unit1_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit2]    Script Date: 13.08.2022 12:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit2](
	[Unit2_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](5) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Unit2] PRIMARY KEY CLUSTERED 
(
	[Unit2_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13.08.2022 12:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[surname] [varchar](100) NULL,
	[password] [varchar](20) NULL,
	[mail] [varchar](70) NULL,
	[birtday] [datetime] NOT NULL,
	[gender] [bit] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Admin_ID], [userName], [password]) VALUES (1, N'admin', N'1234')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([City_ID], [Name], [status], [Countries_ID]) VALUES (1, N'New York', 1, 1)
INSERT [dbo].[Cities] ([City_ID], [Name], [status], [Countries_ID]) VALUES (2, N'Los Angeles', 1, 1)
INSERT [dbo].[Cities] ([City_ID], [Name], [status], [Countries_ID]) VALUES (3, N'Miami', 1, 1)
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Countries_ID], [Name], [status]) VALUES (1, N'USA', 1)
INSERT [dbo].[Countries] ([Countries_ID], [Name], [status]) VALUES (2, N'China', 1)
INSERT [dbo].[Countries] ([Countries_ID], [Name], [status]) VALUES (3, N'Turkey', 1)
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Currencies] ON 

INSERT [dbo].[Currencies] ([Currency_ID], [Name], [status]) VALUES (1, N'USD – US Dollar', 1)
INSERT [dbo].[Currencies] ([Currency_ID], [Name], [status]) VALUES (2, N'CNY – Chinese Yuan', 1)
INSERT [dbo].[Currencies] ([Currency_ID], [Name], [status]) VALUES (3, N' TRY – Turkish Lira', 1)
SET IDENTITY_INSERT [dbo].[Currencies] OFF
GO
SET IDENTITY_INSERT [dbo].[Incoterms] ON 

INSERT [dbo].[Incoterms] ([Incoterm_ID], [Name], [status]) VALUES (1, N'Delivered Duty Paid', 1)
INSERT [dbo].[Incoterms] ([Incoterm_ID], [Name], [status]) VALUES (2, N'Paid, Delivered At Place', 1)
SET IDENTITY_INSERT [dbo].[Incoterms] OFF
GO
SET IDENTITY_INSERT [dbo].[Modes] ON 

INSERT [dbo].[Modes] ([Mode_ID], [Name], [status]) VALUES (1, N'LCL', 1)
INSERT [dbo].[Modes] ([Mode_ID], [Name], [status]) VALUES (2, N'FLC', 1)
INSERT [dbo].[Modes] ([Mode_ID], [Name], [status]) VALUES (3, N'Air', 1)
SET IDENTITY_INSERT [dbo].[Modes] OFF
GO
SET IDENTITY_INSERT [dbo].[MovementTypes] ON 

INSERT [dbo].[MovementTypes] ([MovementType_ID], [Name], [status]) VALUES (1, N'Door to Door', 1)
INSERT [dbo].[MovementTypes] ([MovementType_ID], [Name], [status]) VALUES (2, N'Port to Door', 1)
INSERT [dbo].[MovementTypes] ([MovementType_ID], [Name], [status]) VALUES (3, N'Door to Port', 1)
SET IDENTITY_INSERT [dbo].[MovementTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Offers] ON 

INSERT [dbo].[Offers] ([Offer_ID], [City_ID], [Countries_ID], [Currency_ID], [Incoterm_ID], [Mode_ID], [MovementType_ID], [PackageType_ID], [Unit1_ID], [Unit2_ID], [User_ID], [offerDate], [status], [delete]) VALUES (1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, CAST(N'2020-12-12T00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[Offers] ([Offer_ID], [City_ID], [Countries_ID], [Currency_ID], [Incoterm_ID], [Mode_ID], [MovementType_ID], [PackageType_ID], [Unit1_ID], [Unit2_ID], [User_ID], [offerDate], [status], [delete]) VALUES (3, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, CAST(N'2022-08-07T00:00:00.000' AS DateTime), 0, 1)
INSERT [dbo].[Offers] ([Offer_ID], [City_ID], [Countries_ID], [Currency_ID], [Incoterm_ID], [Mode_ID], [MovementType_ID], [PackageType_ID], [Unit1_ID], [Unit2_ID], [User_ID], [offerDate], [status], [delete]) VALUES (7, 2, 2, 3, 1, 2, 1, 2, 2, 1, 3, CAST(N'2022-08-07T00:00:00.000' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[Offers] OFF
GO
SET IDENTITY_INSERT [dbo].[PackageTypes] ON 

INSERT [dbo].[PackageTypes] ([PackageType_ID], [Name], [status]) VALUES (1, N'Pallets', 1)
INSERT [dbo].[PackageTypes] ([PackageType_ID], [Name], [status]) VALUES (2, N'Boxes', 1)
INSERT [dbo].[PackageTypes] ([PackageType_ID], [Name], [status]) VALUES (3, N'Cartons', 1)
SET IDENTITY_INSERT [dbo].[PackageTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit1] ON 

INSERT [dbo].[Unit1] ([Unit1_ID], [Name], [status]) VALUES (1, N'CM', 1)
INSERT [dbo].[Unit1] ([Unit1_ID], [Name], [status]) VALUES (2, N'IN', 1)
SET IDENTITY_INSERT [dbo].[Unit1] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit2] ON 

INSERT [dbo].[Unit2] ([Unit2_ID], [Name], [status]) VALUES (1, N'KG', 1)
INSERT [dbo].[Unit2] ([Unit2_ID], [Name], [status]) VALUES (2, N'LB', 1)
SET IDENTITY_INSERT [dbo].[Unit2] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_ID], [name], [surname], [password], [mail], [birtday], [gender], [status]) VALUES (1, N'irfan', N'Keleş', N'1234', N'i@gmail.com', CAST(N'2020-12-12T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Users] ([User_ID], [name], [surname], [password], [mail], [birtday], [gender], [status]) VALUES (2, N'Ebru', N'Demiral', N'12345', N'ebru@gmail.com', CAST(N'2020-12-12T00:00:00.000' AS DateTime), 0, 1)
INSERT [dbo].[Users] ([User_ID], [name], [surname], [password], [mail], [birtday], [gender], [status]) VALUES (3, N'Alperen', N'Eker', N'123123', N'alperen@gmail.com', CAST(N'2020-12-12T00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Offers] ADD  DEFAULT ((0)) FOR [delete]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cities_dbo.Countries_Countries_ID] FOREIGN KEY([Countries_ID])
REFERENCES [dbo].[Countries] ([Countries_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_dbo.Cities_dbo.Countries_Countries_ID]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Offers_dbo.Cities_City_ID] FOREIGN KEY([City_ID])
REFERENCES [dbo].[Cities] ([City_ID])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_dbo.Offers_dbo.Cities_City_ID]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Offers_dbo.Countries_Countries_ID] FOREIGN KEY([Countries_ID])
REFERENCES [dbo].[Countries] ([Countries_ID])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_dbo.Offers_dbo.Countries_Countries_ID]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Offers_dbo.Currencies_Currency_ID] FOREIGN KEY([Currency_ID])
REFERENCES [dbo].[Currencies] ([Currency_ID])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_dbo.Offers_dbo.Currencies_Currency_ID]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Offers_dbo.Incoterms_Incoterm_ID] FOREIGN KEY([Incoterm_ID])
REFERENCES [dbo].[Incoterms] ([Incoterm_ID])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_dbo.Offers_dbo.Incoterms_Incoterm_ID]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Offers_dbo.Modes_Mode_ID] FOREIGN KEY([Mode_ID])
REFERENCES [dbo].[Modes] ([Mode_ID])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_dbo.Offers_dbo.Modes_Mode_ID]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Offers_dbo.MovementTypes_MovementType_ID] FOREIGN KEY([MovementType_ID])
REFERENCES [dbo].[MovementTypes] ([MovementType_ID])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_dbo.Offers_dbo.MovementTypes_MovementType_ID]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Offers_dbo.PackageTypes_PackageType_ID] FOREIGN KEY([PackageType_ID])
REFERENCES [dbo].[PackageTypes] ([PackageType_ID])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_dbo.Offers_dbo.PackageTypes_PackageType_ID]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Offers_dbo.Unit1_Unit1_ID] FOREIGN KEY([Unit1_ID])
REFERENCES [dbo].[Unit1] ([Unit1_ID])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_dbo.Offers_dbo.Unit1_Unit1_ID]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Offers_dbo.Unit2_Unit2_ID] FOREIGN KEY([Unit2_ID])
REFERENCES [dbo].[Unit2] ([Unit2_ID])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_dbo.Offers_dbo.Unit2_Unit2_ID]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Offers_dbo.Users_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_dbo.Offers_dbo.Users_User_ID]
GO
