
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/bs-stepper/css/bs-stepper.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/dropzone/min/dropzone.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/ion-rangeslider/css/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/bootstrap-slider/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/toastr/toastr.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/fullcalendar/main.css">
    <link rel="stylesheet" href="~/FullTemplate/AdminTemplate/plugins/toastr/toastr.min.css">
    <link href="~/FullTemplate/UserTemplate/fontawsome/css/all.css" rel="stylesheet" />
    <link href="~/FullTemplate/UserTemplate/fontawsome/css/all.css" rel="stylesheet" />
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        @*<div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__wobble" src="~/Admin/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
            </div>*@
        <nav class="main-header navbar navbar-expand navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="/Admin/Dashboard" class="brand-link">
                <img src="~/FullTemplate/AdminTemplate/dist/img/AdminLTELogo.png" alt="" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Admin</span>
            </a>
            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="/Admin/Dashboard" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    DashBoard
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/AdminOfferList" class="nav-link">
                                <i class="nav-icon fas fa-list"></i>
                                <p>
                                    Offer List
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">Log Out</li>

                        <li class="nav-item">
                            <a href="/AdminLogin/AdminLogOut" class="nav-link">
                                <i class="nav-icon fa fa-sign-out"></i>
                                <p>
                                    Log Out
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </aside>
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    <br />
                    @RenderBody()
                </div>
            </section>
        </div>
    </div>
    <script src="~/FullTemplate/AdminTemplate/plugins/jquery/jquery.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/dist/js/adminlte.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/raphael/raphael.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/chart.js/Chart.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/dist/js/demo.js"></script>
    <script src="~/FullTemplate/AdminTemplate/js/pages/dashboard2.js"></script>

    <script src="~/FullTemplate/AdminTemplate/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/moment/moment.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/inputmask/jquery.inputmask.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/dropzone/min/dropzone.min.js"></script>
    @*<script src="~/Admin/dist/js/adminlte.min.js"></script>*@
    <script src="~/FullTemplate/AdminTemplate/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/bootstrap-slider/bootstrap-slider.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/toastr/toastr.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/jszip/jszip.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/fullcalendar/main.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/toastr/toastr.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/sparklines/sparkline.js"></script>
    <script src="~/FullTemplate/AdminTemplate/dist/js/pages/dashboard.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/moment/moment.min.js"></script>
    <script src="~/FullTemplate/AdminTemplate/plugins/fullcalendar/main.js"></script>


    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
    <script>
        $.widget.bridge('uibutton', $.ui.button)
        $(function () {

            /* initialize the external events
             -----------------------------------------------------------------*/
            function ini_events(ele) {
                ele.each(function () {

                    // create an Event Object (https://fullcalendar.io/docs/event-object)
                    // it doesn't need to have a start or end
                    var eventObject = {
                        title: $.trim($(this).text()) // use the element's text as the event title
                    }

                    // store the Event Object in the DOM element so we can get to it later
                    $(this).data('eventObject', eventObject)

                    // make the event draggable using jQuery UI
                    $(this).draggable({
                        zIndex: 1070,
                        revert: true, // will cause the event to go back to its
                        revertDuration: 0  //  original position after the drag
                    })

                })
            }

            ini_events($('#external-events div.external-event'))

            /* initialize the calendar
             -----------------------------------------------------------------*/
            //Date for the calendar events (dummy data)
            var date = new Date()
            var d = date.getDate(),
                m = date.getMonth(),
                y = date.getFullYear()

            var Calendar = FullCalendar.Calendar;
            var Draggable = FullCalendar.Draggable;

            var containerEl = document.getElementById('external-events');
            var checkbox = document.getElementById('drop-remove');
            var calendarEl = document.getElementById('calendar');

            // initialize the external events
            // -----------------------------------------------------------------

            new Draggable(containerEl, {
                itemSelector: '.external-event',
                eventData: function (eventEl) {
                    return {
                        title: eventEl.innerText,
                        backgroundColor: window.getComputedStyle(eventEl, null).getPropertyValue('background-color'),
                        borderColor: window.getComputedStyle(eventEl, null).getPropertyValue('background-color'),
                        textColor: window.getComputedStyle(eventEl, null).getPropertyValue('color'),
                    };
                }
            });

            var calendar = new Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                themeSystem: 'bootstrap',
                //Random default events
                events: [
                    {
                        title: 'All Day Event',
                        start: new Date(y, m, 1),
                        backgroundColor: '#f56954', //red
                        borderColor: '#f56954', //red
                        allDay: true
                    },
                    {
                        title: 'Long Event',
                        start: new Date(y, m, d - 5),
                        end: new Date(y, m, d - 2),
                        backgroundColor: '#f39c12', //yellow
                        borderColor: '#f39c12' //yellow
                    },
                    {
                        title: 'Meeting',
                        start: new Date(y, m, d, 10, 30),
                        allDay: false,
                        backgroundColor: '#0073b7', //Blue
                        borderColor: '#0073b7' //Blue
                    },
                    {
                        title: 'Lunch',
                        start: new Date(y, m, d, 12, 0),
                        end: new Date(y, m, d, 14, 0),
                        allDay: false,
                        backgroundColor: '#00c0ef', //Info (aqua)
                        borderColor: '#00c0ef' //Info (aqua)
                    },
                    {
                        title: 'Birthday Party',
                        start: new Date(y, m, d + 1, 19, 0),
                        end: new Date(y, m, d + 1, 22, 30),
                        allDay: false,
                        backgroundColor: '#00a65a', //Success (green)
                        borderColor: '#00a65a' //Success (green)
                    },
                    {
                        title: 'Click for Google',
                        start: new Date(y, m, 28),
                        end: new Date(y, m, 29),
                        url: 'https://www.google.com/',
                        backgroundColor: '#3c8dbc', //Primary (light-blue)
                        borderColor: '#3c8dbc' //Primary (light-blue)
                    }
                ],
                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar !!!
                drop: function (info) {
                    // is the "remove after drop" checkbox checked?
                    if (checkbox.checked) {
                        // if so, remove the element from the "Draggable Events" list
                        info.draggedEl.parentNode.removeChild(info.draggedEl);
                    }
                }
            });

            calendar.render();
            // $('#calendar').fullCalendar()

            /* ADDING EVENTS */
            var currColor = '#3c8dbc' //Red by default
            // Color chooser button
            $('#color-chooser > li > a').click(function (e) {
                e.preventDefault()
                // Save color
                currColor = $(this).css('color')
                // Add color effect to button
                $('#add-new-event').css({
                    'background-color': currColor,
                    'border-color': currColor
                })
            })
            $('#add-new-event').click(function (e) {
                e.preventDefault()
                // Get value and make sure it is not null
                var val = $('#new-event').val()
                if (val.length == 0) {
                    return
                }

                // Create events
                var event = $('<div />')
                event.css({
                    'background-color': currColor,
                    'border-color': currColor,
                    'color': '#fff'
                }).addClass('external-event')
                event.text(val)
                $('#external-events').prepend(event)

                // Add draggable funtionality
                ini_events(event)

                // Remove event from text input
                $('#new-event').val('')
            })
        });
        $(function () {
            /* BOOTSTRAP SLIDER */
            $('.slider').bootstrapSlider()

            /* ION SLIDER */
            $('#range_1').ionRangeSlider({
                min: 0,
                max: 5000,
                from: 1000,
                to: 4000,
                type: 'double',
                step: 1,
                prefix: '$',
                prettify: false,
                hasGrid: true
            })
            $('#range_2').ionRangeSlider()

            $('#range_5').ionRangeSlider({
                min: 0,
                max: 10,
                type: 'single',
                step: 0.1,
                postfix: ' mm',
                prettify: false,
                hasGrid: true
            })
            $('#range_6').ionRangeSlider({
                min: -50,
                max: 50,
                from: 0,
                type: 'single',
                step: 1,
                postfix: '°',
                prettify: false,
                hasGrid: true
            })

            $('#range_4').ionRangeSlider({
                type: 'single',
                step: 100,
                postfix: ' light years',
                from: 55000,
                hideMinMax: true,
                hideFromTo: false
            })
            $('#range_3').ionRangeSlider({
                type: 'double',
                postfix: ' miles',
                step: 10000,
                from: 25000000,
                to: 35000000,
                onChange: function (obj) {
                    var t = ''
                    for (var prop in obj) {
                        t += prop + ': ' + obj[prop] + '\r\n'
                    }
                    $('#result').html(t)
                },
                onLoad: function (obj) {
                    //
                }
            })
        })
        $(function () {
            bsCustomFileInput.init();
        });
        $(function () {
            var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });


            $('.swalDefaultSuccess').click(function () {
                Toast.fire({
                    icon: 'success',
                    title: 'Kayıt İşlemi Başarılı'
                })

            });
            $('.swalDefaultInfo').click(function () {
                Toast.fire({
                    icon: 'info',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.swalDefaultError').click(function () {
                Toast.fire({
                    icon: 'error',
                    title: '<br> Kayıt İşlemi Başarısız </br>'
                })
            });
            $('.swalDefaultWarning').click(function () {
                Toast.fire({
                    icon: 'warning',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.swalDefaultQuestion').click(function () {
                Toast.fire({
                    icon: 'question',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });

            $('.toastrDefaultSuccess').click(function () {
                toastr.success('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });
            $('.toastrDefaultInfo').click(function () {
                toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });
            $('.toastrDefaultError').click(function () {
                toastr.error('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });
            $('.toastrDefaultWarning').click(function () {
                toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });

            $('.toastsDefaultDefault').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultTopLeft').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'topLeft',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultBottomRight').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'bottomRight',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultBottomLeft').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'bottomLeft',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultAutohide').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    autohide: true,
                    delay: 750,
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultNotFixed').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    fixed: false,
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultFull').click(function () {
                $(document).Toasts('create', {
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    icon: 'fas fa-envelope fa-lg',
                })
            });
            $('.toastsDefaultFullImage').click(function () {
                $(document).Toasts('create', {
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    image: '../../dist/img/user3-128x128.jpg',
                    imageAlt: 'User Picture',
                })
            });
            $('.toastsDefaultSuccess').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultInfo').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-info',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultWarning').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-warning',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultDanger').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultMaroon').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-maroon',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
        });
    </script>
</body>
</html>

